{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- Header-->
<header class="py-5">
    <br><br><br>
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xxl-8">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Transparency · Reliability · Accessibility</h1>
                    <p class="lead fw-normal text-muted mb-4">The mission of NOTICe is to fight against the opioid epidemic in the United States by providing a transparent and informative library of knowledge regarding prescription drugs, including opioids, and the physicians across the country who prescribe them.</p>
                    <p class="lead fw-normal text-muted mb-4">We believe in accountability and transparency. To that end, we record data for drug prescribers along with every instance in which they prescribe any of the 250 most common drugs.</p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/squadPic.png' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our founding</h2>
                <p class="lead fw-normal text-muted mb-0">In conjunction with the Utah Opioid Task Force ©, NOTICe got to work on providing an accesible database in the form of a web application to allow government officials and prescribers to view the volume of prescriptions that are taking place overall.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/horizon.jpeg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Growth &amp; beyond</h2>
                <p class="lead fw-normal text-muted mb-0">Looking forward, we aim to become the leading source of information for all things concerning the national opioid epidemic by creating a comprehensive database of every drug prescriber in the nation, along with their prescription tendencies, as well as detailed information about each drug and its possible addictive properties. We plan to empower patients with knowledge about every drug and close substitutes that could be considered before receiving a prescription.</p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to saving lives through information</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Bradford.png' %}" width = "1000" height="1000" alt="..." />
                    <h5 class="fw-bolder">Bradford Paul</h5>
                    <div class="fst-italic text-muted">Diagramming and Design</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Trevor.png' %}" width = "1000" height="1000" alt="..." />
                    <h5 class="fw-bolder">Trevor Schoeny</h5>
                    <div class="fst-italic text-muted">Website Development</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Braden.png' %}" width = "1000" height="1000" alt="..." />
                    <h5 class="fw-bolder">Braden Terry</h5>
                    <div class="fst-italic text-muted">Data Specialist</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'img/Austin.png' %}" width = "1000" height="1000" alt="..." />
                    <h5 class="fw-bolder">Austin Caprio</h5>
                    <div class="fst-italic text-muted">Data Analyst</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}