{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <a class="text-decoration-none link-dark" href="{% url 'prescribers' %}"><h1 class="fw-bolder">Add a new prescriber</h1></a>
                </div>
            </div>
        </div>

        <!-- Form -->
        <form class="container mx-1" name="form" method="post" action="{% url 'storeprescriber'%}">
            {% csrf_token %}
            <div class="row my-3">

                <!-- First Name -->
                <div class="col-4">
                    <div class="form-floating form-floating-group flex-grow-1">
                        <input class="form-control" id="fname" type="text" name="fname" placeholder="placeholder" value=""/>
                        <label for="fname">First Name:</label>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="col-4">
                    <div class="form-floating form-floating-group flex-grow-1">
                        <input class="form-control" id="lname" type="text" name="lname" placeholder="placeholder" value=""/>
                        <label for="lname">Last Name:</label>
                    </div>
                </div>

                <!-- Gender -->
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="gender_select" name="gender_select" aria-label="Floating label select example">
                        <option selected>Select</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="O">Other</option>
                        </select>
                        <label for="gender_select">Gender</label>
                    </div>
                </div>
            </div>
            <div class="row align-items-center my-3">
                
                <!-- State -->
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" list="state_list" id="state" name="state_select" placeholder="Type to search...">
                        <datalist id="state_list">
                            {% for state in states %}
                                <option value="{{ state.state }}">{{ state.state }}</option>
                            {% endfor %}
                        </datalist>
                        <label for="state_select" class="form-label">State:</label>
                    </div>
                </div>
                
                <!-- Credentials -->
                <div class="col">
                    <div class="form-floating">
                        <div class="form-floating form-floating-group flex-grow-1">
                            <input class="form-control" id="credentials" type="text" name="credentials" placeholder="placeholder" value=""/>
                            <label for="credentials">Credentials:</label>
                        </div>
                    </div>
                </div>
                    
                <!-- Specialties -->
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" list="specialty_list" id="specialty_select" name="specialty_select" placeholder="Type to search...">
                        <datalist id="specialty_list">
                            {% for specialty in specialties %}
                                <option value="{{ specialty.title }}">{{ specialty.title }}</option>
                            {% endfor %}
                        </datalist>
                        <label for="exampleDataList" class="form-label">Specialty:</label>
                    </div>
                </div>
                    
                <!-- Licenced for Opioid -->
                <div class="col">
                    <div class="form-floating">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="licensed_check">
                            <label class="form-check-label" for="licensed_check">Licensed to prescribe opioids</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center my-3">

                <!-- First Name -->
                <div class="col-4">
                    <div class="form-floating form-floating-group flex-grow-1">
                        <input class="form-control" id="npi" type="text" name="npi" placeholder="placeholder" value=""/>
                        <label for="npi">National Provider Identifier:</label>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="my-4">
                <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Add Prescriber</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}