{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-0 my-0">
        <a class="lead fw-normal mb-0" href="{% url 'drugs' %}">Back</a>
    </div>
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    {% if drug.isopioid == 'True' %}
                    <h1 class="fw-bolder"><div class="text-primary">{{ drug.drugname|format_me:"." }}</div></h1>
                        <p class="lead fw-normal text-muted mb-0">Opioid</p>
                    {% else %}
                    <h1 class="fw-bolder">{{ drug.drugname|format_me:"." }}</h1>
                        <p class="lead fw-normal text-muted mb-0">Not Opioid</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Results -->
        <div class="container px-5 my-2">
            <div class="row gx-5">
                <div class="col">
                    <div class="row gx-5 row-cols-1 row-cols-md-3">
                        {% for drug in drugs %}
                            {% if drug.isopioid == 'True' %}
                                <a class="lead fw-normal mb-0" href="{% url 'prescribers' %}"><strong class="text-primary">{{ drug.drugname|format_me:"." }}</strong></a>
                            {% else %}
                                <a class="lead fw-normal text-muted mb-0" href="{% url 'prescribers' %}">{{ drug.drugname|format_me:"." }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div>
        </div>
    </div>
</section>
{% endblock %}