{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="container py-5">
    <div class="container pt-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'drugs' %}">Back</a>
    </div>
    <div class="text-center mb-5">
        {% if drug.isopioid == 'True' %}
        <h1 class="fw-bolder"><div class="text-primary">{{ drug.drugname|format_me:"." }}</div></h1>
            <p class="lead fw-normal text-muted mb-0">Opioid</p>
        {% else %}
        <h1 class="fw-bolder">{{ drug.drugname|format_me:"." }}</h1>
            <p class="lead fw-normal text-muted mb-0">Not Opioid</p>
        {% endif %}
    </div>

    <!-- Top Providers -->
    <div class="container">
        <h3 class="mb-0">Top Providers</h3>
        <p class="fw-normal text-muted mb-3">and total {{ drug.drugname|format_me:"." }} prescribed</p>
    </div>
    <div class="container px-4 mt-2 mb-5">
        <div class="row">
                {% for prescriber in prescribers %}
                <div class="col-md-auto py-2">
                    <a class="btn btn-outline-secondary" href="{% url 'index' %}">{{ prescriber.fname|format_me:"." }} {{ prescriber.lname|format_me:"." }} ({{ prescriber.qty}})</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Recommended Providers -->
    <div class="container">
        <h3 class="mb-3">Recommended Providers</h3>
    </div>
    <div class="container px-4 mt-2 mb-5">
        <div class="row">
                {% for prescriber in prescribers %}
                <div class="col-md-auto py-2">
                    <a class="btn btn-outline-secondary" href="#">Recommended Provider</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}