{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h1 class="fw-bolder">Prescription Drugs</h1>
                    <p class="lead fw-normal text-muted mb-0">Opioid drugs are labeled in blue.</p>
                </div>
            </div>
        </div>
        <!-- Search -->
        <form name="form" method="get" action="{% url 'drugsearch' search=name_contains %}">
            <div class="container">
                <div class="form-floating mb-3">
                    <input class="form-control" id="name_contains" type="tel" name="name_contains" placeholder="Abilify"/>
                    <label for="name_contains">Search For a Drug:</label>
                </div>
            </div>
            <div class="form-check form-switch mx-3">
                <input class="form-check-input" type="checkbox" role="switch" id="isopioid" name="isopioid">
                <label class="form-check-label" for="isopioid">Show only opioids</label>
            </div>
            <div class="text-center mb-5">
                <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Search</button>
            </div>
        </form>
        <!-- Results -->
        <div class="container px-5 my-2">
            <div class="row gx-5">
                <div class="col">
                    <div class="row gx-5 row-cols-1 row-cols-md-3">
                        {% for drug in drugs %}
                            {% if drug.isopioid == 'True' %}
                                <a class="lead fw-normal mb-0" href="{% url 'drugdetail' drug_id=drug.drugid %}"><strong class="text-primary">{{ drug.drugname|format_me:"." }}</strong></a>
                            {% else %}
                                <a class="lead fw-normal text-muted mb-0" href="{% url 'drugdetail' drug_id=drug.drugid %}">{{ drug.drugname|format_me:"." }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Results -->
    </div>
</section>
{% endblock %}