{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">NOTIC</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Here at NOTIC, we are dedicated to maintaining an accurate and up-to-date library of information regarding prescription drugs in the United States and the physicians authorized to prescribe them.</p>
                    <p class="lead fw-normal text-white-50 mb-4">We help fight against the opioid epidemic by providing resources and statistics for people to educate themselves about the ongoing struggle of opioid dependency that so many people in our country battle with every day.</p>
                    <p class="lead fw-normal text-white-50 mb-4">To learn more about prescription drugs, including opioids, and the prescription tendencies of physicians from all over the country, click the buttons below:</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href=" {% url "prescribers" %}">Find Prescribers</a>
                        <a class="btn btn-outline-light btn-lg px-4" href=" {% url "drugs" %} ">Find Prescription Drugs</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/spilled_pills_2.jpeg'%}" alt="..." /></div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Did you know...</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bar-chart-line"></i></div>
                        <h2 class="h1">274</h2>
                        <p class="mb-0">people on average died every day from a drug overdose in 2020?</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up"></i></div>
                        <h2 class="h1">56%</h2>
                        <p class="mb-0">is the perecent rise in drug overdose deaths since 2015?</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar-week"></i></div>
                        <h2 class="h1">6</h2>
                        <p class="mb-0">days is all it takes for an opioid dependency to develop?</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-pie-chart"></i></div>
                        <h2 class="h">68%</h2>
                        <p class="mb-0">of drug overdoses involve opioids?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-black mb-2">Facts about the opioid epidemic</h1>
                    <p class="lead fw-normal text-black-50 mb-4">Select your state below to learn facts about the opioid epidemic close to you:</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <form name="form" method="get" id="state_search" action="{% url 'statesearch' %}">
                            <div class="container">
                                <div class="col">
                                    <div class="form-floating">
                                        <input class="form-control" list="state_list" id="state_select" name="state_select" placeholder="Type to search...">
                                        <datalist id="state_list">
                                            {% for state in states %}
                                                <option value="{{ state.state }}">{{ state.state }}</option>
                                            {% endfor %}
                                        </datalist>
                                        <label for="state_select" class="form-label">State:</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mb-5">
                            <button class="btn btn-primary btn-lg px-4 me-sm-3 justify-content-end" type="submit" form="state_search">Go</button>
                        </div>
                    </div>
                    {% if is_search %} 
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">{{ state.state }}</h2></div>
                        <br>
                    {% endif %}
                    <div class="row gx-5">
                        {% if is_search %}
                        <div class="col">
                            {% if state == '' %}
                                <h2 class="h1">{{ country }}</h2>
                                <p class="mb-0">where your state falls in terms of drug overdose deaths</p>
                            {% else %}
                                <h2 class="h1">#{{ state_rank }}</h2>
                                <p class="mb-0">in the country for drug overdose deaths</p>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="col">
                            {% if state == '' %}
                                <h2 class="h1">{{ country_deaths }}</h2>
                                <p class="mb-0">people died in the United States from a drug overdose in 2014</p>
                            {% else %}
                                <h2 class="h1">{{ state.deaths }}</h2>
                                <p class="mb-0">people died in {{ state.state }} from a drug overdose in 2014</p>
                            {% endif %}
                        </div>
                        <div class="col">
                            {% if state == '' %}
                                <h2 class="h1">{{ total_op_prescribers }}</h2>
                                <p class="mb-0">physicians are licensed to prescribe opioids in the United States</p>
                            {% else %}
                                <h2 class="h1">{{ licensed_prescribers }}</h2>
                                <p class="mb-0">physicians are licensed to prescribe opioids in {{ state.state }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <body>
                    <div class='tableauPlaceholder' id='viz1638400610683' style='position: relative'><noscript>
                        <a href='#'><img alt='Opioid Overdose Deaths by State in 2020 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NG&#47;NGCCPXQB3&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>  
                        <object class='tableauViz'  style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;NGCCPXQB3' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NG&#47;NGCCPXQB3&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en-US' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>                
                    <script type='text/javascript'>  
                    var divElement = document.getElementById('viz1638400610683');                    
                    var vizElement = divElement.getElementsByTagName('object')[0];                    
                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
                    var scriptElement = document.createElement('script');                    
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);              
                    </script>
                </body>
            </div>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Learn more about how you can help fight the opioid epidemic</h2>
                    <p class="lead fw-normal text-muted mb-5">Follow these links to view helpful articles</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'img/nalaxonesaves.png' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Save a life</div>
                        <a class="text-decoration-none link-dark stretched-link" target="_blank" href="https://www.getnaloxonenow.org/#home"><h5 class="card-title mb-3">Save a life: Learn how to respond to an overdose emergency</h5></a>
                        <p class="card-text mb-0">Learn where to find Nalaxone in your area and get trained on how to administer it during an opioid overdose emergency.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="{% static 'img/nalaxoneHeart.png' %}" width = "40" height="40" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">Get Nalaxone Now</div>
                                    <div class="text-muted">© 2019 &middot; All rights reserved</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'img/hhswebsite.png' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Join the fight</div>
                        <a class="text-decoration-none link-dark stretched-link" target="_blank" href="https://www.hhs.gov/opioids/"><h5 class="card-title mb-3">Help and Resources: National Opioids Crisis</h5></a>
                        <p class="card-text mb-0">Find recent data and reports, learn what is being done to combat this epidemic, and discover how you can get involved.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="{% static 'img/hhsEagle.png' %}" width = "40" height="40" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">U.S. Department of Health and Human Services</div>
                                    <div class="text-muted">October 27, 2021 &middot; About The Epidemic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{% static 'img/fdawebsite.png' %}" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Dispose</div>
                        <a class="text-decoration-none link-dark stretched-link" target="_blank" href="https://www.fda.gov/consumers/consumer-updates/where-and-how-dispose-unused-medicines"><h5 class="card-title mb-3">Where and How to Dispose of Unused Medicines</h5></a>
                        <p class="card-text mb-0">Learn how to safely dispose of your unused prescriptions through drug take back programs.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="{% static 'img/fdaLogo.png' %}" width = "40" height="40" alt="..." />
                                <div class="small">
                                    <div class="fw-bold">U.S. Food and Drug Administration</div>
                                    <div class="text-muted">April 21, 2021 &middot; Drug take back programs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">The hard truth:</div>
                    <div class="text-white-50">Over 100,000 people died from drug overdose in 2020 – each one of them a parent, child, or friend. Learning how to recognize the signs of a drug overdose can help save one of their lives. We hope you can use this site to avoid finding yourself or your loved ones in a situation where drug misuse or dependency becomes a reality.</div>
            </div>
        </aside>
    </div>
</section>
{% endblock %}