{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h1 class="fw-bolder">Prescribers</h1>
                    <p class="lead fw-normal text-muted mb-0">Prescribers licensed to prescribe opioids are shown in blue.</p>
                </div>
            </div>
        </div>
        <!-- Search -->
        <form name="form" method="get" action="{% url 'prescribersearch'%}">
            <div class="container">
                <div class="form-floating mb-3">
                    <input class="form-control" id="first_name_contains" type="tel" name="first_name_contains" placeholder="placeholder" value=""/>
                    <label for="name_contains">First Name:</label>
                </div>
            </div>
            <div class="text-center mb-5">
                <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Search</button>
            </div>
        </form>
        <!-- Results -->
        <div class="container">
            <div class="row">
                    {% for prescriber in prescribers %}
                    <div class="col-md-auto py-2">
                        {% if prescriber.isopioidprescriber == 'TRUE' %}
                                <a class="btn btn-outline-primary" href="{% url 'index' %}">{{ prescriber.fname|format_me:"." }} {{ prescriber.lname|format_me:"." }}</a>
                        {% else %}
                                <a class="btn btn-outline-secondary" href="{% url 'index' %}">{{ prescriber.fname|format_me:"." }} {{ prescriber.lname|format_me:"." }}</a>                            
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="col-md-auto pt-3">
                        <p class="lead fw-normal text-muted mb-0">. . . search to find more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}