{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container pt-5">
        <a class="btn btn-secondary btn-lg px-4 me-sm-3" onClick="javascript:history.go(-1);">Back</a>
    </div>
    <div class="text-center mb-5">
        <h1 class="fw-bolder">{{ prescriber.fname }} {{ prescriber.lname }}</h1>
        <p class="lead fw-normal text-muted mb-0">Provider</p>
    </div>
    <div class="mx-5" ><div class="card mx-3" >
        <ul class="list-group list-group-flush">

            <!-- NPI -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">National Provider Identifier: </p>{{ prescriber.npi }}</li>

            <!-- Gender -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Gender: </p>
                {% if prescriber.gender == 'F' %}
                    Female
                {% elif prescriber.gender == 'M' %}
                    Male
                {% else %}
                    Other
                {% endif %}
            </li>

            <!-- State -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">State: </p>{{ prescriber.state }}</li>

            <!-- Credentials -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Credentials: </p>{{ prescriber.credentials }}</li>

            <!-- Specialists -->
            {% if prescriber.specialties.all.count == 0 %}
                <li class="list-group-item"><p class="text-muted" style="display:inline">Specialties: </p>None
            {% elif prescriber.specialties.all.count > 1 %}
                <li class="list-group-item"><p class="text-muted" style="display:inline">Specialties: </p>
            {% else %}
                <li class="list-group-item"><p class="text-muted" style="display:inline">Specialty: </p>
            {% endif %}
                {% for specialty in prescriber.specialties.all %}
                    {% if forloop.counter < prescriber.specialties.all.count %}
                        {{ specialty.title }},
                    {% else %}
                        {{ specialty.title }}
                    {% endif %}
                {% endfor %}
            </li>

            <!-- Licensed -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Licensed to prescribe opioid: </p>
                {% if prescriber.isopioidprescriber %}Yes{% else %}No{%endif%}
            </li>

            <!-- Total Prescriptions -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Total prescriptions: </p>{{ total_prescriptions }}</li>

            <!-- Total Opioid Prescriptions -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Total opioid prescriptions: </p>{{ total_opioids }}</li>

            {% if opioid_percent != 'N/A' %}
            <!-- Opioid Prescription Level -->
            <li class="list-group-item"><p class="text-muted" style="display:inline">Percent of prescriptions that are opioids: </p>
                {% if opioid_percent == 0 %}
                    No Opioids Prescribed
                {% elif opioid_percent < 20 %}
                    Low ({{ opioid_percent }}%)
                {% elif opioid_percent < 40 %}
                    Medium ({{ opioid_percent }}%)
                {% elif opioid_percent < 60 %}
                    High ({{ opioid_percent }}%)
                {% else %}
                    Very High ({{ opioid_percent }}%)
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div></div>

    <!-- Recommended Drug List -->
    <div class="container pt-4">
        <h3 class="mb-0">Recommended Prescription Drugs</h3>
        <p class="fw-normal text-muted">(opioids shown in blue)</p>
    </div>
    <div class="container px-4 mt-2 mb-5">
        <div class="row">
                <div class="col-md-auto py-2">
                    {% if drug.isopioid == 'TRUE'%}
                        <a class="btn btn-outline-primary" href="{% url 'drugdetail' drug_id=drug1.drugid %}">{{ drug1.drugname }}</a>
                    {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'drugdetail' drug_id=drug1.drugid %}">{{ drug1.drugname }}</a>
                    {% endif %}
                </div>
                <div class="col-md-auto py-2">
                    {% if drug.isopioid == 'TRUE'%}
                        <a class="btn btn-outline-primary" href="{% url 'drugdetail' drug_id=drug2.drugid %}">{{ drug2.drugname }}</a>
                    {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'drugdetail' drug_id=drug2.drugid %}">{{ drug2.drugname }}</a>
                    {% endif %}
                </div>
                <div class="col-md-auto py-2">
                    {% if drug.isopioid == 'TRUE'%}
                        <a class="btn btn-outline-primary" href="{% url 'drugdetail' drug_id=drug3.drugid %}">{{ drug3.drugname }}</a>
                    {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'drugdetail' drug_id=drug3.drugid %}">{{ drug3.drugname }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Drug List -->
    <div class="container pt-4">
        {% if prescriptions %}
        <h3 class="mb-0">Drugs Prescribed</h3>
        <p class="fw-normal text-muted">and quantity prescribed (opioids shown in blue)</p>
        {% else %}
        <h3 class="mb-0">This prescriber currently has not prescribed any drugs.</h3>
        {% endif %}
    </div>
    <div class="container px-4 mt-2 mb-5">
        <div class="row">
                {% for drug in prescriptions %}
                <div class="col-md-auto py-2">
                    {% if drug.isopioid == 'TRUE'%}
                        <a class="btn btn-outline-primary" href="{% url 'drugdetail' drug_id=drug.pddrugs_id %}">{{ drug.drugname|title }} ({{ drug.qty }})</a>
                    {% else %}
                    <a class="btn btn-outline-secondary" href="{% url 'drugdetail' drug_id=drug.pddrugs_id %}">{{ drug.drugname|title }} ({{ drug.qty }})</a>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

    <!-- Update and Delete Prescriber -->
    <div class="text-center container">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'updateprescriber' prescriber_id=prescriber.npi %}">Update Prescriber</a>
        <a class="btn btn-danger btn-lg px-4 me-sm-3" href="{% url 'deleteprescriber' prescriber_id=prescriber.npi %}">Delete Prescriber</a>
    </div>

</section>
{% endblock %}