{% extends 'base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <a class="text-decoration-none link-dark" href="{% url 'prescribers' %}"><h1 class="fw-bolder">Prescribers</h1></a>

                    <!-- Add Prescriber -->
                    <a class="btn btn-primary btn-lg px-4 my-3 me-sm-3" href="{% url 'addprescriber' %}">Add New Prescriber</a>
                </div>
            </div>
        </div>

        <!-- Search -->
        <form class="container mx-1" name="form" method="get" action="{% url 'prescribersearch'%}">
            <div class="row my-3">

                <!-- Name -->
                <div class="col">
                    <div class="form-floating form-floating-group flex-grow-1">
                        <input class="form-control" id="name_contains" type="text" name="name_contains" placeholder="placeholder" value=""/>
                        <label for="name_contains">Name:</label>
                    </div>
                </div>

                <!-- NPI -->
                <div class="col">
                    <div class="form-floating form-floating-group flex-grow-1">
                        <input class="form-control" id="npi_contains" type="text" name="npi_contains" placeholder="placeholder" value=""/>
                        <label for="name_contains">National Provider Identifier:</label>
                    </div>
                </div>

                <!-- Gender -->
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="gender_select" name="gender_select" aria-label="Floating label select example">
                        <option selected>Select</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="O">Other</option>
                        </select>
                        <label for="gender_select">Gender</label>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                
                <!-- State -->
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" list="state_list" id="state" name="state_select" placeholder="Type to search...">
                        <datalist id="state_list">
                            {% for state in states %}
                                <option value="{{ state.state }}">{{ state.state }}</option>
                            {% endfor %}
                        </datalist>
                        <label for="state_select" class="form-label">State:</label>
                    </div>
                </div>
                
                <!-- Credentials -->
                <div class="col">
                    <div class="form-floating">
                        <div class="form-floating form-floating-group flex-grow-1">
                            <input class="form-control" id="credentials_contains" type="text" name="credentials_contains" placeholder="placeholder" value=""/>
                            <label for="credentials_contains">Credentials:</label>
                        </div>
                    </div>
                </div>
                    
                <!-- Specialties -->
                <div class="col">
                    <div class="form-floating">
                        <input class="form-control" list="specialty_list" id="specialty_select" name="specialty_select" placeholder="Type to search...">
                        <datalist id="specialty_list">
                            {% for specialty in specialties %}
                                <option value="{{ specialty.title }}">{{ specialty.title }}</option>
                            {% endfor %}
                        </datalist>
                        <label for="exampleDataList" class="form-label">Specialty:</label>
                    </div>
                </div>
                    
                <!-- Lincensed for Opioid -->
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="licensed_check" name="licensed_check" aria-label="Licensed to sell Opioid">
                        <option selected>Select</option>
                        <option value="TRUE">Yes</option>
                        <option value="FALSE">No</option>
                        </select>
                        <label for="licensed_check">Licensed to sell opioid</label>
                    </div>
                </div>
                    
                <!-- Opioid Level -->
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="opioid_level_select" name="opioid_level_select" aria-label="Opioid level select">
                        <option selected>Select</option>
                        <option value="None">None</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Very High">Very High</option>
                        </select>
                        <label for="opioid_level_select">Opioid Prescription Level</label>
                    </div>
                </div>
            </div>

            <!-- Search Button -->
            <div class="mb-5">
                <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Search</button>
            </div>
        </form>

        <!-- Results -->
        <div class="container">
            {% if predict == 0%}
            <p class="fw-normal text-muted">A prescriber with your search criteria is NOT likely to prescribe opioids.</p>
            {% endif %}
            {% if predict == 1%}
            <p class="fw-normal text-muted">A prescriber with your search criteria is likely to prescribe opioids.</p>
            {% endif %}
            <br>
            <h3>{{ result_count }} Results:</h3>
            {% comment %} <p class="lead fw-normal text-muted mb-0">Prescribers that have prescribed opioids are shown in blue.</p> {% endcomment %}
            <div class="row">
                    {% for prescriber in prescribers %}
                    <div class="col-md-auto py-2">
                        {% if prescriber.opioidprescribe %}
                                <a class="btn btn-outline-primary" href="{% url 'prescriberdetail' prescriber_id=prescriber.npi %}">{{ prescriber.fname|format_me:"." }} {{ prescriber.lname|format_me:"." }}</a>
                        {% else %}
                                <a class="btn btn-outline-secondary" href="{% url 'prescriberdetail' prescriber_id=prescriber.npi %}">{{ prescriber.fname|format_me:"." }} {{ prescriber.lname|format_me:"." }}</a>                            
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="col-md-auto pt-3">
                        <p class="lead fw-normal text-muted mb-0">. . . search to find more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}