{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- Page Content-->
<section class="py-5">
    <div class="container pt-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'prescribers' %}">Back</a>
    </div>
    <div class="text-center mb-5">
        <h1 class="fw-bolder">{{ prescriber.fname }} {{ prescriber.lname }}</h1>
        <p class="lead fw-normal text-muted mb-0">Provider</p>
    </div>
    <div class="card" >
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p class="text-muted" style="display:inline">Gender: </p>{{ prescriber.gender }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">State: </p>{{ prescriber.state }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">Credential: </p>{{ prescriber.credential }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">Specialty: </p>{{ prescriber.specialty }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">Licensed to prescribe opioid: </p>{{ prescriber.isopioidprescriber }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">Has presribed opioid?: </p>{{ prescriber.opioidprescribe }}</li>
          <li class="list-group-item"><p class="text-muted" style="display:inline">Total prescriptions: </p>{{ prescriber.totalprescriptions }}</li>
        </ul>
    </div>
</section>
{% endblock %}